@charset "UTF-8";

body{
    background-color: #F2F2F2;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Space Grotesk', sem serifa;
    justify-content: space-between;   
}

header{
    display: flex;
    flex-direction: row; 
    
}

.cabecalho{
    width: 50%;
    color: white;
    position: relative;
}

.imagemdesktop{
    display: flex;
    width: 55%;
    height: 100vh;
}

.frentedocartao{
    text-transform: uppercase;
    width: 50%;

    
}
.partefrontal{
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 16rem;
    width: 50%;
    height: 245px;
    left: 164px;
    top: 187px;
    

}

.logopartefrontal{
    width: 10%;
    margin: 10px;
}

.numeropartefrontal{
    display: flex;
    flex-direction: inherit;
    width: 100%;
    font-size: 2.4rem; 
}


.nomedocartao{
    display: inline-flex;
    flex-direction: unset;  
}

.meseano{
    display: inline-flex;
    flex-direction: unset;
    margin: 0px 20px;   
}

.cvc{
    position: absolute;
    top: 120px;
    left: 380px;
    }

.partetraseira{
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16rem;
    position: absolute;
    width: 50%;
    height: 245px;
    left: 258px;
    top: 469px;
}    

main {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}   

.apresentacao{
    color: #21092F;
    width: 381px;
    height: 352px;
    left: 832px;
    top: 275px; 
    margin: 25%;
}

.apresentacaodados{
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.outrosdados{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    
}

.inputpadrao{
    padding: 5px;
    margin: 10px 0px 20px 0px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.linha{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.inputmes{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 80px;
    height: 24px;

}

.inputano{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 80px;
    height: 24px;
    
}

.inputcodigo{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 191px;
    height: 24px;
}

.confirmar{
    font-size: 1.2rem;
    color: white;
    background-color: #21092F;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    transition: 1s all;
    cursor: pointer;
    width: 381px;
    height: 53px;
}

.confirmar:hover{
    background-color: #6348FE;
}






