@charset "UTF-8";

header{
    height: 100%;
    font-family: 'Space Grotesk', sem serifa; 
}



.cartoes{
    background-image: url(images/bg-main-mobile.png);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  
}

.centralizacao__cartoes{
    display: flex;
    flex-direction: column;
   
    
}

.parte__frontal__do__cartao{
    position: relative;
    top: 9em;
    left: 1em;
    color: white;
}

.imagem__frontal__do__cartao{
    width: 80%;

}


.logo__do__cartao{
    position: absolute;
    width: 10%;
    top: 5px;
    left: 5px;
}

.numero__parte__frontal__do__cartao{
    position: relative;
    top: -6em;
    padding: 1.0em;
    font-weight: 500;
    letter-spacing: 0.3em;
}

.parte__traseira__do__cartao{
    position: relative;
    transform: translateY(-100%);
    left: 2em;
}

.nome__do__titular__do__cartao{
    position: relative;
    bottom: 50px;
    left: 25px;

}

.mes__e__ano__de__expiracao__do__cartao{
    position: relative;
    bottom: 50px;
    left: 230px;
}


.imagem__traseira__do__cartao{
    width: 80%;
   
}

.codigo__de__verificacao__do__cartao{
    color: white;
    position: absolute;
    bottom: 112px;
    left: 350px;
    
}

.conteudo {
    display: flex;
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 0.7rem;
    justify-content: center;
 
}   

.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #21092F;
    width: 327px;
    height: 328px;

}


.apresentacaodados{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;  
}

.outrosdados{
    display: flex;
    justify-content: space-between;
    
}
.estruturacodigodeverificacao{
    margin-right: 39%;
}

.inputpadrao{
    padding: 8px;
    height: 24px;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid lightgray;
}

.linha{
    display: flex;
    justify-content: space-between;
}

.inputmes{
    border: 1px solid lightgray;
    padding: 8px;
    margin-right: 0.2%;
    border-radius: 5px;
    width: 58px;
    height: 24px;
}

.inputano{
    border: 1px solid lightgray;
    padding: 8px;
    margin-right: 2%;
    border-radius: 5px;
    width: 58px;
    height: 24px;    
}

.inputcodigo{
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 5px;
    width: 144px;
    height: 24px;
}

.confirmar{
    font-size: 1.2rem;
    color: white;
    background-color: #21092F;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    transition: 1s all;
    cursor: pointer;
    width: 327px;
    height: 53px;
    margin-top: 10px;
}

.confirmar:hover{
    background-color: #6348FE;
}

@media screen and (min-width: 1024px){

    header{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .cartoes{
        background-image: url(images/bg-main-desktop.png);
        width: 100vh;
        height: 100vh;
        background-size: contain;
      
    }
    
    .centralizacao__cartoes{
       
    }
    
    .parte__frontal__do__cartao{
        position: relative;
        color: white;
        transform: translateY( 50%);
        transform: translatex( 25%);
        
    }
    
    .imagem__frontal__do__cartao{
        width: 50%;
    
    }
    
    
    .logo__do__cartao{
        position: absolute;
        
    }
    
    .numero__parte__frontal__do__cartao{
        position: relative;
        top: -6em;
        padding: 1.0em;
        font-weight: 500;
        letter-spacing: 0.3em;
    }
    
    .parte__traseira__do__cartao{
        position: relative;
        transform: translatex(30%);
        top: 20%;
        
        
    }
    

    .imagem__traseira__do__cartao{
        width: 50%;
    }

}
